html{overflow-y:scroll;min-height:100%}body{position:relative;margin:0}img::selection{background:transparent}img::-moz-selection{background:transparent}iframe{border:0}button[disabled],input[disabled]{cursor:default}summary{display:block}[hidden]{display:none}p,hr,dl,blockquote,pre,fieldset,figure{margin:15px
0}h1,h2,h3,h4,h5,h6{margin:25px
0 15px 0}dl{padding-left:30px}dd{margin-left:40px}h1,h2,h3,h4,h5,h6{font-weight:normal}h1{font-size:36px;line-height:36px}h2{font-size:24px;line-height:24px}h3{font-size:18px;line-height:18px}h4,h5,h6{font-size:16px;line-height:16px}a,a:hover{text-decoration:none}b{font-weight:bold}small{font-size:11px}ins{text-decoration:none}del{text-decoration:line-through}abbr[title]{border-color:inherit}dfn[title]{border-bottom:1px dotted;cursor:help}dfn[title]{font-style:normal}hr{display:block;height:1px;padding:0;border-top:1px solid;border-bottom:0}q,blockquote{quotes:'\201C' '\201D' '\2018' '\2019';font-family:"Times New Roman",Times,serif;font-style:italic}blockquote{padding:0
20px;font-size:16px;line-height:22px}blockquote
p{margin:0}code{word-spacing:-2px}pre{padding:10px;font-size:12px;line-height:18px}th,td{padding:1px}form,textarea{margin:0}button,input[type='button'],input[type='submit']{padding:2px
3px}body{padding:0;font:inherit;color:inherit;background-color:inherit}img{vertical-align:baseline}pre,code{font-family:"Courier New",Monaco,monospace}pre{border-radius:0;color:inherit}code{padding:0;border:none;border-radius:0;background:none;color:inherit;font-size:inherit;white-space:normal}form.box
label{display:inline-block;margin:0;font:inherit}form.box
legend{display:inline-block;width:auto;margin-bottom:0;border:none;font:inherit;color:inherit}form.box input,
form.box select,
form.box textarea,
form.box button,
form.short input,
form.short select,
form.short textarea,
form.short button,
.searchbox
input{font:12px Arial, Helvetica, sans-serif}form.box input,
form.box select,
form.box textarea,
form.short input,
form.short select,
form.short textarea,
.searchbox
input{height:auto;width:auto;margin:auto;padding:2px;border:1px
solid #ddd;border-radius:0;background:#fff;box-shadow:none;color:inherit;vertical-align:baseline;-webkit-transition:none;transition:none}form.box input:focus,
form.box select:focus,
form.box textarea:focus,
form.short input:focus,
form.short select,
form.short textarea:focus,
.searchbox input:focus{border-color:#ddd;box-shadow:none}.searchbox
input{height:30px;width:100%;border:none}form.box input[type="radio"],
form.box input[type="checkbox"]{margin:4px
4px 0}li{line-height:inherit}dl.separator
dt{font-weight:inherit}dl.separator dt,
dl.separator
dd{line-height:inherit}blockquote{border-left:none}q:before{content:open-quote}q:after{content:close-quote}.menu-dropdown
.small{font-size:inherit}.module .module-title
.icon{margin-top:0}.module .module-title .icon:before{display:none}.module
.badge{padding:0;border-radius:0;background-color:transparent;color:inherit;font:inherit;text-shadow:none;vertical-align:baseline}.module .badge:empty{display:block}#system .pagination a,
#system .pagination
strong{background:none;float:none}body{font:normal 14px/20px Arial,Helvetica,sans-serif}mark,ins,pre{border-radius:2px}a:not([class]):active,a:not([class]):focus{position:relative;top:1px}a:not([class]):active>*,a:not([class]):focus>*{position:relative;top:-1px}
.clearfix:before,.clearfix:after,.grid-block:before,.grid-block:after,.deepest:before,.deepest:after{content:"";display:table}.clearfix:after,.grid-block:after,.deepest:after{clear:both}.grid-box{float:left}.width16{width:16.666%}.width20{width:20%}.width25{width:25%}.width33{width:33.333%}.width40{width:40%}.width50{width:50%}.width60{width:60%}.width66{width:66.666%}.width75{width:75%}.width80{width:80%}.width100{width:100%}[class*='width']{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}.bfc-o{overflow:hidden}.bfc-f{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;float:left}.float-left{float:left}.float-right{float:right}.grid-gutter.grid-block{margin:0
-15px}.grid-gutter>.grid-box>*{margin:0
15px}.grid-gutter>.grid-box>*>:first-child{margin-top:0}.grid-gutter>.grid-box>*>:last-child{margin-bottom:0}.wrapper{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:auto}#header{position:relative}#toolbar .float-left .module,
#toolbar .float-left>time{margin:0
15px 0 0;float:left}#toolbar .float-right
.module{margin:0
0 0 15px;float:right}#headerbar
.module{max-width:300px;margin-right:0;float:right}#logo,#logo>img,#menu{float:left}#search{float:right}#banner{position:absolute;top:0;right:-200px}#footer{position:relative;text-align:center}#absolute{position:absolute;z-index:15;width:100%}.module,#header,#breadcrumbs,#content,#footer{margin:10px}#footer
.module{margin:0}#headerbar{margin:20px
0}#headerbar #menu
.module{float:none;max-width:auto;margin-right:auto}.wrapper{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;padding:0
50px}body#page{background-position:0 0;background-repeat:repeat-x}#page-bg{background-position:50% -500px;background-repeat:no-repeat}.radiance-presentation #page-bg{min-height:900px;background-position:50% 100px}#toolbar{padding:0
0 10px 0;background-position:0 100%;line-height:24px;font-size:11px;text-transform:uppercase}#menu{float:right;margin-top:25px}#breadcrumbs{margin-right:0;margin-bottom:15px;margin-left:0}.system-dark #breadcrumbs,
.system-light #breadcrumbs,
.system-white #content
#breadcrumbs{margin-top:0}#footer{margin-top:10px;margin-bottom:20px;padding-top:15px;background-position:0 0;font-size:12px}#totop-scroller{display:block;position:absolute;top:20px;right:0;z-index:1;width:20px;height:21px;background-position:0 0;background-repeat:no-repeat;text-decoration:none}#totop-scroller:hover{background-position:0 -30px}.system-white
#content{padding:15px;border-radius:4px;background:#FDFDFF;box-shadow:0 8px 4px -4px rgba(0,0,0,0.3);color:#555;text-shadow:none}.system-white #content
hr{border-top-color:#d7d7d7}.system-white #content ::-moz-selection{background:#2d2d2d;color:#fff}.system-white #content ::selection{background:#2d2d2d;color:#fff}.system-white #content h1,
.system-white #content h3,
.system-white #content .mod-light .module-title,
.system-white #content form.box legend,
.system-white #content #system .title a,
.system-white #content #system .item header
time{color:#424242}.system-white #content form.style button,
.system-white #content form.style input[type="button"]{color:#777}.system-white #content a.button-more
a{color:#626262}.system-white #content a,
.system-white #content h2,
.system-white #content em.box,
.system-white #content #system .item header
time{color:#666}.system-white #content a:hover,
.system-white #content h4,
.system-white #content code,
.system-white #content #system .title a:hover{color:#2d2d2d}.system-white #content #system small,
.system-white #content #system blockquote,
.system-white #content table.zebra caption,
.system-white #content form.style input,
.system-white #content form.style textarea,
.system-white #content form.style select,
.system-white #content .comments-list
.meta{color:#777}.system-white #content #system .pagination a:hover,
.system-white #content #system .item > .links a:hover,
.system-white #content #system
span.highlight{background-color:#FFF}.system-white #content mark,
.system-white #content ins,
.system-white #content a.button-more:hover,
.system-white #content form.style button:hover,
.system-white #content form.style input[type="button"]:hover,
.system-white #content form.style input:focus,
.system-white #content form.style textarea:focus,
.system-white #content form.style select:focus,
.system-white #content #system .pagination
strong{color:#FFF}.system-white #content mark,
.system-white #content a.button-more:hover,
.system-white #content form.style input[type="button"]:hover,
.system-white #content #system .pagination
strong{background-color:#444}.system-white #content ins,
.system-white #content form.style input:focus,
.system-white #content form.style textarea:focus,
.system-white #content form.style select:focus,
.system-white #content form.style button:hover{background-color:#424242}.system-white #content a.button-more,
.system-white #content form.style button,
.system-white #content form.style input.button,
.system-white #content #system .item > .links
a{background:#efefef}.system-white #content pre,
.system-white #content .box-content,
.system-white #content .box-note,
.system-white #content .box-info,
.system-white #content .box-warning,
.system-white #content .box-hint,
.system-white #content .box-download,
.system-white #content #system #comments .comment-head{background-color:rgba(0,0,0,0.05);border:1px
solid rgba(0,0,0,0.1);box-shadow:none}.system-white #content dl.separator dd,
.system-white #content dl.separator dt:before,
.system-white #content dl.separator dt:after{border-color:#efefef}.system-white #content dl.separator dt:after{background:#999}.system-white #content form.box fieldset,
.system-white #content #system .author-box{border-color:rgba(0,0,0,0.1)}.system-white #content a.button-more,
.system-white #content form.style button,
.system-white #content form.style input.button,
.system-white #content #system .item > .links
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/button_more.png")}.system-white #content ul.line > li,
.system-white #content .comments-list > article,
.system-white #content .wk-twitter-list article,
.system-white #content ul.zoo-list > li,
.system-white #content .zoo-comments-list>article{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/list_line.png")}.system-white #content ul.line-icon > li,
.system-white #content ul.line-icon>li:first-child{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/list_line_icon.png")}.system-white #content ul.check>li{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/list_check.png")}.system-white #content ul.zebra > li.odd,
.system-white #content form.style input,
.system-white #content form.style textarea,
.system-white #content form.style
select{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/list_zebra.png")}.system-white #content ul.zebra>li:nth-of-type(odd){background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/list_zebra.png")}.system-white #content table.zebra tbody td,
.system-white #content table.zebra tbody tr:first-child
td{border-color:rgba(0,0,0,0.1)}.system-white #content table.zebra tbody
tr.odd{background-color:rgba(0,0,0,0.03)}.system-white #content table.zebra tbody tr:nth-of-type(odd){background-color:rgba(0,0,0,0.03)}.system-white #content
em.box{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/em_box.png")}.system-white #content
hr.dotted{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/tools/line_dotted.png")}.system-white #content .wk-twitter-single.image{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/widgetkit/bird.png")}.system-white #content .wk-twitter-bubbles .content,
.system-white #content .wk-twitter
.image{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/widgetkit/bubble.png")}.system-white #content.wk-twitter-bubbles .content:after{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/widgetkit/arrow.png")}.system-white #content #system .item header
time{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/system_time.png")}.system-white #content #system .pagination
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/white/images/pagination.png")}
.menu,
.menu
ul{margin:0px;padding:0px;list-style:none}.menu a,
.menu
span{display:block}.menu
a{text-decoration:none}.menu-dropdown
li{position:relative}.menu-dropdown,
.menu-dropdown .level1,
.menu-dropdown .level1>span{float:left}.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{height:30px;padding:0
10px;line-height:30px}.menu-dropdown
.dropdown{display:none;position:absolute;top:30px;left:0;z-index:100;width:300px}.menu-dropdown li:hover .dropdown,
.menu-dropdown li.remain
.dropdown{display:block}.menu-dropdown li:hover .dropdown.flip,
.menu-dropdown li.remain
.dropdown.flip{left:auto;right:0}.menu-dropdown .dropdown-bg>div{overflow:hidden}.menu-dropdown .stack
.column{width:100%}.menu-dropdown
.columns2{width:600px}.menu-dropdown
.columns3{width:900px}.menu-dropdown
.columns4{width:1200px}.menu-dropdown
.column{float:left}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{padding:7px
0;line-height:21px;overflow:hidden}.menu-dropdown
ul.level3{padding-bottom:10px}.menu-dropdown
li.level3{font-size:11px;line-height:17px}.menu-dropdown
span.icon{display:block;background-repeat:no-repeat;background-position:50% 50%;float:left}.menu-dropdown .level1 .level1
span.icon{width:30px;height:30px;margin-left:-5px}.menu-dropdown .level1 .level1 span.icon + span,
.menu-dropdown .level1 .level1 span.icon+span+span{margin-left:25px}.menu-dropdown li.level2 .level2
span.icon{width:35px;height:35px;margin-top:-7px;margin-bottom:-7px}.menu-dropdown li.level2.hassubtitle .level2
span.icon{margin-top:-4px}.menu-dropdown li.level2 .level2
span.icon{margin-right:5px}.menu-dropdown li.level2 .level2 span.icon + span,
.menu-dropdown li.level2 .level2 span.icon+span+span{margin-left:40px}.menu-dropdown
span.title{line-height:18px}.menu-dropdown
span.subtitle{margin-top:-1px;font-size:9px;line-height:10px;text-indent:1px}.menu-dropdown li.level2 .level2
span.title{line-height:15px}.menu-dropdown li.level2 .level2
span.subtitle{line-height:14px}.menu-sidebar li.parent span.level1>span{cursor:pointer}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{padding:5px
0;line-height:20px}.menu-sidebar
span.title{display:inline}.menu-sidebar
span.subtitle{display:none}.menu-sidebar
ul.level2{padding-bottom:10px}.menu-sidebar li.level1:last-child
ul.level2{padding-bottom:0}.menu-sidebar .level2 a>span{font-size:11px;line-height:17px}.menu-sidebar
span.icon{display:inline-block;height:30px;width:30px;margin:-5px 5px -5px 0;background-repeat:no-repeat;background-position:50% 50%;vertical-align:middle}.menu-line,
.menu-line li,
.menu-line li
a{display:inline-block}.menu-dropdown{margin-bottom:-10px}.menu-dropdown
li.level1{margin-left:10px;padding-bottom:10px}.menu-dropdown a.level1,
.menu-dropdown
span.level1{border-radius:3px}.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{height:30px;line-height:30px;font-size:14px;text-transform:uppercase}.menu-dropdown li.level1.parent
.level1{padding-right:12px;border-bottom-left-radius:0;border-bottom-right-radius:0;background-position:100% 0;background-repeat:no-repeat}.menu-dropdown li.level1.parent .level1:hover,
.menu-dropdown li.remain.parent
.level1{background-position:100% -100px}.menu-dropdown
.dropdown{top:30px;border-top-right-radius:3px}.menu-dropdown:last-child > li:last-child
.dropdown{right:0;left:auto;border-top-right-radius:0;border-top-left-radius:3px}.menu-dropdown .dropdown-bg>div{margin-bottom:8px;border-bottom-left-radius:3px;border-bottom-right-radius:3px}.menu-dropdown .column
ul.level2{background:url("/TestJoomla/templates/yoo_radiance/images/menu_dropdown_columns.png") 0 0 repeat-y}.menu-dropdown .column:first-child
ul.level2{background:none}.menu-dropdown
li.level2{padding:0
5px;background-position:0 0;background-repeat:repeat-x}.menu-dropdown li.level2:first-child{background:none}.menu-dropdown a.level2 > span,
.menu-dropdown span.level2>span{padding:7px;font-size:14px}.menu-dropdown
a.current.level2{font-weight:bold}.menu-dropdown
ul.level3{padding:2px
6px 10px 6px}.menu-dropdown
li.level3{line-height:19px}.menu-dropdown
a.level3{padding-left:16px;background-position:0 0;background-repeat:no-repeat;font-size:12px}.menu-dropdown a.level3:hover{background-position:0 -50px}.menu-dropdown
a.current.level3{background-position:0 -100px;font-weight:bold}.menu-sidebar
a.current{font-weight:bold}.menu-sidebar a.level1,
.menu-sidebar
span.level1{margin:4px
-4px;padding:3px
0 3px 5px;border-radius:3px}.menu-sidebar a.level1 > span,
.menu-sidebar span.level1>span{padding:0;text-transform:uppercase}.menu-sidebar a.level1:hover,
.menu-sidebar span.level1:hover,
.menu-sidebar a.level1.active,
.menu-sidebar
span.level1.active{background-position:0 0;background-repeat:repeat}.menu-sidebar li.parent .level1>span{background-position:100% 0;background-repeat:no-repeat}.menu-sidebar li.parent.active .level1>span{background-position:100% -100px}.menu-sidebar
ul.level2{padding:5px
2px 10px 2px}.menu-sidebar ul.level2
ul{padding-left:12px}.menu-sidebar .level2
a{padding-left:18px;background-repeat:no-repeat}.menu-sidebar .level2 a:hover{background-position:0 -50px}.menu-sidebar .level2
a.current{background-position:0 -100px}.menu-sidebar .level2 a>span{font-size:12px;line-height:18px}.menu-line
li{margin-left:7px;padding-left:8px;background:url("/TestJoomla/templates/yoo_radiance/images/menu_line_item.png") 0 50% no-repeat;font-size:11px;text-transform:uppercase}.menu-line li:first-child{margin-left:0;padding-left:0;background:none}
body{min-width:1080px}.wrapper{width:980px}#maininner{width:980px}#menu
.dropdown{width:230px}#menu
.columns2{width:460px}#menu
.columns3{width:690px}#menu
.columns4{width:920px}
.module{position:relative}.module
.badge{position:absolute;top:0;right:0;z-index:1}.module .module-title
.icon{display:block;position:relative;top:-6px;width:30px;height:30px;margin-right:5px;overflow:hidden;float:left}.deepest>*:first-child{margin-top:0}.deepest>*:last-child{margin-bottom:0}.module .module-title{margin:0
0 15px 0}.module .module-title
span.title{display:block}.module .module-title
span.subtitle{display:block;margin-top:2px;line-height:14px;font-size:12px;text-indent:1px}.module
.badge{width:39px;height:39px;top:-10px;right:-10px;background:url("/TestJoomla/templates/yoo_radiance/images/module_badges.png") 0 0 no-repeat}.module .badge-hot{background-position:0 0}.module .badge-top{background-position:0 -40px}.module .badge-new{background-position:0 -80px}.module .badge-free{background-position:0 -120px}.module .module-title
.icon{background-position:0 0;background-repeat:no-repeat}.module .module-title .icon-download{background-position:0 0}.module .module-title .icon-twitter{background-position:0 -30px}.module .module-title .icon-mail{background-position:0 -60px}.module .module-title .icon-bubble{background-position:0 -90px}.module .module-title .icon-login{background-position:0 -120px}.module .module-title .icon-cart{background-position:0 -150px}.module .module-title
span.subtitle{font-size:11px}.mod-dark,
.system-dark
#content{padding:15px;border:1px
solid rgba(255,255,255,0.04);border-radius:4px;background:url("/TestJoomla/templates/yoo_radiance/images/module_dark.png") 0 0 repeat;background-clip:padding-box}.mod-light,
.system-light
#content{border-radius:4px;background-position:0 0;background-repeat:repeat}.mod-light > div,
.system-light #content>div{padding:15px;border-radius:3px;background-position:0 0;background-repeat:repeat-x}.grid-h .mod-plain{padding:10px
20px 10px 0}.grid-v .mod-plain{padding:20px
10px 0 0}.grid-v:first-child .mod-plain{padding-top:10px}.sidebar-a-right #sidebar-a .grid-v .mod-plain,
.sidebar-b-right #sidebar-b .grid-v .mod-plain{padding-right:0;padding-left:10px}.mod-plain
.badge{top:10px;right:10px}
.display-block{display:block}.remove-margin{margin:0}.remove-margin-t{margin-top:0}.remove-margin-b{margin-bottom:0}.hidden{display:none;visibility:hidden}.size-auto{max-width:100%;height:auto}.align-left,.alignleft{display:block;margin-right:15px;float:left}.align-right,.alignright{display:block;margin-left:15px;float:right}.align-center,.aligncenter{display:block;margin:auto;margin-bottom:10px}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.button-more,.button-default,.button-primary{display:inline-block}.button-more+[class*=button-],.button-default+[class*=button-],.button-primary+[class*=button-]{margin-left:10px}ul.blank,ul.space,ul.line,ul.check,ul.zebra{list-style:none;margin:0;padding:0}ul.space
li{margin-top:15px}ul.space li:first-child{margin-top:0}ul.line>li{margin-top:5px;padding-top:5px}ul.line>li:first-child{margin-top:0;padding-top:0}ul.check>li{margin-top:5px}ul.check>li:first-child{margin-top:0}ul.zebra>li{padding:5px}ul.line>li>a:first-child,ul.check>li>a:first-child{display:block}table.zebra{width:100%}table.zebra
th{font-size:16px;font-weight:normal;text-align:left}table.zebra th,
table.zebra
td{padding:5px}table.zebra tbody,
table.zebra
tfoot{font-size:12px}table.zebra
.bold{font-weight:bold}table.zebra
.center{text-align:center}table.zebra td
*{vertical-align:middle}table.zebra
tfoot{font-style:italic}table.zebra
caption{font-size:11px;text-align:left;font-style:italic}dl.separator{padding:0;overflow:hidden}dl.separator
dt{width:160px;padding-right:10px;float:left;clear:both}dl.separator
dd{margin-left:170px;padding-left:20px}em.box{padding:0
3px;white-space:nowrap}hr.dotted{border:none}p.dropcap:first-letter {display:block;margin:7px
4px 0px 0px;float:left;font-size:280%;font-family:Georgia,"Times New Roman",Times,serif}.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{margin:15px
0;padding:10px}.box-content{padding:20px}.box-info,.box-warning,.box-hint,.box-download{padding-left:40px}form.box
fieldset{margin-bottom:30px;padding:0
10px 10px 10px}form.box
legend{padding:0
10px}form.box fieldset>div{margin:15px
0}form.box button,
form.box input[type='button'],
form.box input[type='reset']{vertical-align:middle}form.short>div{margin:10px
0}form.short
input{color:#333}form.short input:-moz-placeholder{color:#999}form.short input::-webkit-input-placeholder{color:#999}form.short
input.placeholder{color:#999}.mobile-switcher{display:block;width:80%;margin:20px
auto 40px auto;padding:40px
0;font-size:50px;text-align:center}a.button-more,
#system .item > .links
a{padding:3px
10px;border-radius:3px;font-size:11px;text-transform:uppercase}a.button-more:active{box-shadow:inset 0 2px 2px rgba(0,0,0,0.2)}a.button-more,
form.style button,
form.style input.button,
#system .item > .links
a{background-color:transparent;background-position:0 0;background-repeat:repeat}img.border-box{border:1px
solid rgba(0,0,0,0.3)}ul.line>li:first-child{background:none}ul.line > li,
.comments-list > article,
.wk-twitter-list article,ul.zoo-list>li,.zoo-comments-list>article{background-position:0 0;background-repeat:repeat-x}ul.line-icon>li{padding-left:16px}ul.line-icon>li,ul.line-icon>li:first-child{margin-top:2px;padding-top:2px;background-position:0 0;background-repeat:no-repeat}ul.check>li{padding:4px
0 0 30px;background-position:0 0;background-repeat:no-repeat}ul.zebra>li{border-radius:2px}ul.zebra > li.odd,
form.style input,
form.style textarea,
form.style
select{background-position:0 0;background-repeat:repeat}ul.zebra>li:nth-of-type(odd){background-position:0 0;background-repeat:repeat}table.zebra tbody
td{border-bottom-style:solid;border-bottom-width:1px}table.zebra tbody tr:first-child
td{border-top-style:solid;border-top-width:1px}dl.separator
dt{position:relative;padding-top:5px;padding-bottom:5px;text-transform:uppercase}dl.separator
dd{padding-top:5px;padding-bottom:5px;border-width:0 0 0 1px;border-style:solid}dl.separator dt:before{content:"";position:absolute;top:0;right:-15px;width:30px;border-width:1px 0 0 0;border-style:solid}dl.separator dt:after{content:"";position:absolute;top:-3px;right:-3px;width:5px;height:5px;border-width:1px;border-style:solid;border-radius:6px}dl.separator dt:first-child:before,
dl.separator dt:first-child:after{display:none}em.box{padding:0
2px;border:none;border-radius:2px;background-position:0 0;background-repeat:repeat}hr.dotted{background-position:0 0;background-repeat:repeat-x}.box-content,.box-note,.box-info,.box-warning,.box-hint,.box-download{border-radius:3px}.box-note,.box-info,.box-warning,.box-hint,.box-download{background-position:0 0;background-repeat:no-repeat}.box-info{background-image:url("/TestJoomla/templates/yoo_radiance/images/tools/box_info.png")}.box-warning{background-image:url("/TestJoomla/templates/yoo_radiance/images/tools/box_warning.png")}.box-hint{background-image:url("/TestJoomla/templates/yoo_radiance/images/tools/box_hint.png")}.box-download{background-image:url("/TestJoomla/templates/yoo_radiance/images/tools/box_download.png")}form.box
fieldset{border-style:solid;border-width:1px;border-radius:3px}form.style input,
form.style textarea,
form.style select,
form.style button,
form.style input[type="button"]{padding:4px;border:none;border-radius:3px;background-color:transparent;outline:none}.mobile-switcher{border-radius:3px}.social-icons{margin:0;padding:0;list-style:none;overflow:hidden}.social-icons li,
.social-icons li
a{float:left}.social-icons
li{margin:0
0 0 6px;line-height:39px}.social-icons li
a{display:inline-block;overflow:hidden;width:36px;height:38px;background:url("/TestJoomla/templates/yoo_radiance/images/tools/icons_social.png") 0 0 no-repeat}.social-icons .twitter
a{background-position:0 0}.social-icons .twitter a:hover{background-position:0 -40px}.social-icons .facebook
a{background-position:0 -80px}.social-icons .facebook a:hover{background-position:0 -120px}.social-icons .youtube
a{background-position:0 -160px}.social-icons .youtube a:hover{background-position:0 -200px}.social-icons .vimeo
a{background-position:0 -240px}.social-icons .vimeo a:hover{background-position:0 -280px}
#system .page-title{margin-top:0;font-size:18px;line-height:18px}#system
.title{margin-top:0}#system .title
a{text-decoration:none}#system .title+.title{margin-top:20px}#system>.description{margin-bottom:30px;overflow:hidden}#system
small{font-style:italic}#system .item>header{margin-bottom:15px}#system .item>:first-child+header{margin-top:10px}#system .item > header
.title{margin-bottom:0}#system .item > header
.meta{margin:10px
0 0 0;font-size:11px;line-height:13px}#system .item > header
.subtitle{margin:0
0 8px 0;font-size:14px;line-height:16px;font-weight:normal;text-transform:uppercase}#system .item > .content > *:first-child:not(.grid-gutter),
#system .item>.content>*[class*="align"]:first-child+*{margin-top:0}#system .item>.content>*:last-child:not(.grid-gutter){margin-bottom:0}#system .item>.links{margin:22px
0 0 0}#system .item > .links
a{margin-right:15px}#system .item>.taxonomy{}#system .item>.trackback{}#system .item>.edit{}#system .item>*:last-child{margin-bottom:0}#system .item
.socialbuttons{margin-top:15px}#system .item .socialbuttons>div{margin-right:10px;float:left}#system
.items{margin:0
-10px 0 -10px}#system .items
.item{margin:0
10px 0 10px}#system .items > .width50
.title{font-size:22px;line-height:22px}#system .items > .width33
.title{font-size:20px;line-height:20px}#system .items > .width25
.title{font-size:18px;line-height:18px}#system
.pagination{margin-top:10px;text-align:center}#system .pagination
a{text-decoration:none}#system .pagination
strong{font-weight:normal}#system .pagination a,
#system .pagination
strong{display:inline-block;min-width:15px;height:25px;margin-left:5px;padding:0
5px;line-height:25px}#system .pagination>*:first-child{margin-left:0}#system .pagination a.previous,
#system .pagination
a.next{font-size:16px;line-height:23px}.searchbox{position:relative}.searchbox
input{width:100%;padding:0;border:none;outline:none;background:none;float:left}.searchbox input::-ms-clear{display:none}.searchbox
button{display:none}.searchbox.filled
button{display:block;position:absolute;top:0;bottom:0;right:0;padding:0;border:none;line-height:0;cursor:pointer}.searchbox.loading
button{}.searchbox
.results{position:absolute;top:30px;right:0;z-index:110;width:300px;margin:0;padding:0;list-style:none}.searchbox .results li.results-header,
.searchbox .results li.more-results{height:35px;line-height:35px;text-indent:15px;text-transform:uppercase}.searchbox .results li.more-results{cursor:pointer}.searchbox .results
li.result{padding:10px
15px;cursor:pointer}.searchbox .results li.result
h3{margin:0
0 5px 0;font-size:16px}.searchbox .results li.result
div{font-size:11px}.breadcrumbs{overflow:hidden}.breadcrumbs a,
.breadcrumbs span,
.breadcrumbs
strong{display:inline-block;text-decoration:none}.breadcrumbs a,.breadcrumbs>span{margin-right:10px}#system .author-box{margin:20px
0}#system .title+.author-box{margin-top:0}#system .author-box
.avatar{margin-right:15px;float:left}#system .author-box
.name{margin:0
0 10px 0;font-size:18px;font-weight:normal;line-height:22px}#system .author-box
.description{}#system
#comments{margin-top:20px}#system #comments h3.comments-meta{margin:0
0 10px 0}#system #comments
ul{margin:0;padding:0;list-style:none}#system #comments .comment-head{margin-bottom:10px;overflow:hidden}#system #comments .comment-head
.avatar{margin-right:10px;float:left}#system #comments .comment-head
.author{margin:8px
0 0 0;font-size:18px;line-height:18px;font-weight:bold}#system #comments .comment-head
.meta{margin:3px
0 0 0;font-size:11px}#system #comments .comment-body{margin-bottom:20px;padding:0
10px}#system #comments .comment-body
.content{text-align:justify}#system #comments .comment-body
.reply{margin:10px
0 0 0}#system #comments .no-response .comment-body
.reply{display:none}#system #comments .comment-body
.moderation{margin:10px
0 0 0;font-size:14px;font-style:italic}#system #comments ul.level1
ul{padding-left:55px}#system #respond
h3{margin:0
0 10px 0;font-size:18px;line-height:20px;font-weight:normal}#system #respond
p.user{margin:0}#system #respond input[type='text']{width:200px;height:25px;padding-left:5px;line-height:25px}#system #respond
textarea{width:100%;max-width:400px;height:100px}#system ul
#respond{margin:0
0 30px 0;padding-left:10px}.comments-list>article{margin-top:10px;padding-top:10px;overflow:hidden}.comments-list>article:first-child{margin:0;padding:0}.comments-list
.avatar{margin-right:10px;float:left}.comments-list
.author{margin:2px
0 0 0;font-size:12px;line-height:18px}.comments-list
.meta{margin:0;font-size:11px;line-height:13px;font-style:italic}.comments-list .content
p{margin:5px
0 0 0}.tagcloud{list-style:none;margin:0;padding:0;text-align:center}.tagcloud
li{display:inline-block;line-height:20px;vertical-align:middle}.tagcloud
a{white-space:nowrap}.tagcloud .weight1
a{font-size:11px}.tagcloud .weight2
a{font-size:12px}.tagcloud .weight3
a{font-size:13px}.tagcloud .weight4
a{font-size:14px}.tagcloud .weight5
a{font-size:15px}.tagcloud .weight6
a{font-size:16px}.tagcloud .weight7
a{font-size:18px}.tagcloud .weight8
a{font-size:20px}.tagcloud .weight9
a{font-size:23px;letter-spacing:-1px}.tagcloud .weight10
a{font-size:26px;letter-spacing:-1px}.page-nav{margin-top:15px}.page-nav
.prev{float:left}.page-nav
.next{float:right}#system .item > header
.icon{margin:2px
0 0 5px;float:right}#system .item>.edit{margin-top:15px}#system .item-list{margin-top:10px;overflow:hidden}#system
.filter{margin:0
0 10px 0;overflow:hidden}#system .filter>div{margin:0
10px 0 0;float:left}#system form.submission fieldset > div:before,
#system form.submission fieldset>div:after{content:" ";display:block}#system form.submission fieldset>div:after{clear:both}#system form.submission fieldset>div>*{vertical-align:middle}#system form.submission fieldset>div>label:first-child{display:block;width:150px;float:left}#system form.submission fieldset > div > input[type='text'],
#system form.submission fieldset>div>input[type='password']{padding:5px;width:250px}#system form.submission fieldset>div>select{padding:5px;width:262px}#system form.submission fieldset>div>textarea{width:255px}#system form.submission
div.submit{margin-top:-20px;text-align:center}#system
.invalid{border-color:#f00}#system
label.invalid{color:#f00}#system form.submission.small fieldset>div{margin:15px
0}.tip-wrap{display:none;float:left;background:#ffc;border:1px
solid #D4D5AA;padding:5px;max-width:200px;color:#323232;font-size:12px}.tip-title{margin-top:-15px;padding:15px
0 5px 0;background:url("/TestJoomla/templates/system/images/selector-arrow.png") no-repeat;font-weight:bold;font-size:13px}#system .item>header{position:relative}#system .item > header
.meta{margin:2px
0 0 0;text-transform:uppercase}#system .item > header
time{position:absolute;top:1px;left:0;width:30px;margin:0
10px 0 0;padding:2px
6px 4px 6px;border-radius:3px;background-position:0 0;background-repeat:repeat;line-height:16px;font-family:Arial,Helvetica,sans-serif;text-transform:uppercase;text-align:center}#system .item > header time
.day{font-size:22px;font-weight:bold}#system .item > header time .month,
#system .item > header time
.year{font-size:10px}#system .item > header time + h1.title,
#system .item > header time+h1.title+p.meta{margin-left:52px}#system .item > .links a:after{content:" »";font-size:16px}#system .items
.item{margin-top:20px;padding-top:20px;background-position:0 0}#system .items .item:first-child{margin-top:0;padding-top:0;background:none}#system .pagination a,
#system .pagination
strong{border-radius:3px}#system .pagination
a{background-position:0 0;background-repeat:repeat}#system .pagination a.previous,
#system .pagination
a.next{line-height:24px}.searchbox{width:100px;height:24px;padding:0
25px 0 5px;border-radius:3px;background-position:0 0;background-repeat:repeat;z-index:101}.searchbox
input{height:24px;font-size:13px}.searchbox.filled
button{width:25px;background-color:transparent;background-position:50% 50%;background-repeat:no-repeat}.searchbox.loading
button{background-color:transparent;background-position:50% 50%;background-repeat:no-repeat}.searchbox .results li.results-header,
.searchbox .results li.more-results,
.searchbox .results
li.result{background-image:url("/TestJoomla/templates/yoo_radiance/images/searchbox_results.png")}.searchbox
.results{top:41px;right:-1px;width:300px;border-radius:3px}.searchbox .results li.results-header{background-position:0 100%;background-repeat:repeat-x}.searchbox .results li.more-results,
.searchbox .results
li.result{background-position:0 0;background-repeat:repeat-x}.searchbox .results
li.result{text-transform:none}.searchbox .results li.result
div{font-size:12px;line-height:18px}.searchbox .results li.results-header+li.result{background-image:none}.breadcrumbs a,.breadcrumbs>span{padding-right:15px;background:url("/TestJoomla/templates/yoo_radiance/images/breadcrumbs.png") 100% 50% no-repeat}#system .author-box{padding:15px;border-top-style:solid;border-top-width:1px;border-bottom-style:solid;border-bottom-width:1px}#system .author-box
.avatar{padding:3px;background:#000}#system #comments .comment-head{padding:5px;border-radius:3px}#system #comments .comment-byadmin .comment-head{box-shadow:0 1px 8px rgba(0,0,0,0.2)}#system #comments .comment-head
.author{font-weight:normal}#system #comments ul.level1
ul{background:url("/TestJoomla/templates/yoo_radiance/images/comments_arrow.png") 0 0 no-repeat}.comments-list>article:first-child{background:none}#system .items .leading
.item{padding-bottom:20px;margin-bottom:20px;background-position:0 100%}#system .item-list{background-position:0 0}
.wk-slideset-radiance,.wk-slideset-radiance>div{background-position:0 0;padding:15px
0}.wk-slideset-radiance{padding-bottom:0}.wk-slideset-radiance>div{background-position:0 100%}.wk-slideset .set article
h3{margin:0
0 4px 0}.spotlight .overlay-default{background:rgba(255,255,255,0.3) url("/TestJoomla/templates/yoo_radiance/images/widgetkit/magnifier.png") 50% 50% no-repeat}.spotlight .overlay,
.spotlight .overlay a,
.wk-slideshow .caption,
.wk-slideshow .caption
a{color:#fff;text-shadow:0 1px 1px rgba(0,0,0,0.4)}#lightbox-overlay{background-color:#000!important}#lightbox-outer{box-shadow:0 0 15px rgba(0,0,0,1.0)}#lightbox-title.lightbox-title-inside{color:#fff}.wk-twitter-single.image{background:url("/TestJoomla/templates/yoo_radiance/images/widgetkit/bird.png") 0 3px no-repeat}.wk-twitter-list
article{border:none}.wk-twitter-list article:first-child{background:none}.wk-twitter-bubbles .content,
.wk-twitter
.image{border:none;border-radius:3px;background:url("/TestJoomla/templates/yoo_radiance/images/widgetkit/bubble.png") 0 0 repeat;box-shadow:none}.wk-twitter-bubbles .content:after{width:18px;background:url("/TestJoomla/templates/yoo_radiance/images/widgetkit/arrow.png") 0 0 no-repeat}ul.zoo-list>li,.zoo-comments-list>article{border:none}ul.zoo-list>li:first-child,.zoo-comments-list>article:first-child{margin-top:5px;padding-top:5px;background:none}
#logo .custom-logo{width:200px;height:60px;background:url("/TestJoomla/images/yootheme/logo.png") 0 0 no-repeat}.wk-slideset-radiance .set
article{width:280px}.wk-slideset-radiance .set article
img{margin-right:15px}.frontpage-main{position:relative}.demo-bubble{position:absolute;width:204px}.demo-bubble
h3{margin:0
0 4px 0}.demo-bubble.top-left{top:60px;left:36px}.demo-bubble.mid-left{top:195px;left:16px}.demo-bubble.bottom-left{top:330px;left:36px}.demo-bubble.top-right{top:60px;right:36px}.demo-bubble.mid-right{top:195px;right:16px}.demo-bubble.bottom-right{top:330px;right:36px}h2.dark-text{margin:7px
0 0 0}#logo .custom-logo{background-image:url("/TestJoomla/images/yootheme/logo_iceblue.png")}
a:hover{-webkit-transition:color 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out;-o-transition:color 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out;transition:color 0.2s ease-in-out}a.button-more:hover{-webkit-transition:background 0.25s ease-in-out;-moz-transition:background 0.25s ease-in-out;-o-transition:background 0.25s ease-in-out;-ms-transition:background 0.25s ease-in-out;transition:background 0.25s ease-in-out}form.style input,
form.style select,
form.style textarea,
form.style button:hover,
form.style input[type="button"]:hover,
form.style input.button:hover,
form.style #submit:hover,.mobile-switcher{-webkit-transition:color 0.25s ease-in-out,
background 0.25s ease-in-out;-moz-transition:color 0.25s ease-in-out,
background 0.25s ease-in-out;-o-transition:color 0.25s ease-in-out,
background 0.25s ease-in-out;-ms-transition:color 0.25s ease-in-out,
background 0.25s ease-in-out;transition:color 0.25s ease-in-out,
background 0.25s ease-in-out}.searchbox .results
li.result.selected{-webkit-transition:color 0.2s ease-in-out,
background 0.2s ease-in-out;-moz-transition:color 0.2s ease-in-out,
background 0.2s ease-in-out;-o-transition:color 0.2s ease-in-out,
background 0.2s ease-in-out;-ms-transition:color 0.2s ease-in-out,
background 0.2s ease-in-out;transition:color 0.2s ease-in-out,
background 0.2s ease-in-out}
body{font-family:"DroidSansRegular"}
h1,h2,h3,h4,h5,h6{font-family:"FugazOneRegular";text-transform:uppercase}h1{font-size:26px;line-height:26px}h2{font-size:23px;line-height:23px}h3{font-size:18px;line-height:18px}h4{font-size:16px;line-height:16px}h5{font-size:15px;line-height:15px}h6{font-size:13px;line-height:13px}
.menu-dropdown a.level1 > span,
.menu-dropdown span.level1>span{font-family:'FugazOneRegular',sans-serif;font-size:14px;line-height:32px}.menu-dropdown .level1 .level1
span.title{line-height:22px}.menu-dropdown .level1 .level1
span.subtitle{margin-top:-5px}
hr{border-top-color:#D7F8FF}::-moz-selection{background:#1D6885;color:#fff}::selection{background:#1D6885;color:#fff}h1,
h3,
form.box legend,
.mod-light .module-title,
.system-light #system .title a,
.system-light #system .item header
time{color:#4998BA;text-shadow:0 1px 0 rgba(255,255,255,0.1)}.menu-dropdown a.level2,
.menu-dropdown span.level2,
.menu-dropdown a.level3,
form.style button,
form.style input[type="button"],
.searchbox .results h3,
.wk-slideshow-radiance .caption h1,
.wk-slideshow-radiance .caption
a{color:#D7F8FF;text-shadow:0 1px 0 rgba(0,0,0,0.1)}.menu-dropdown a.level1,
.menu-dropdown span.level1,
.wk-slideset-radiance
article{color:#66949F}#system .item > header
.meta{color:#578FA8}.menu-line li
a{color:#377A93}a,
.menu-line li a:hover{color:#2787A7}a:hover,
h4,
code,
.menu-dropdown li.active .level1,
.menu-dropdown a.level3:hover,
.menu-sidebar a.level1 > span:hover,
.menu-sidebar span.level1 > span:hover,
.module .menu-sidebar .level2 a:hover,
#system .title a:hover,
.system-dark #system .title a:hover,
.wk-slideshow-radiance .caption a:hover{color:#1D6885;text-shadow:0 1px 0 rgba(255,255,255,0.1)}.mod-dark .module-title span.subtitle,
.menu-sidebar a.level1 > span,
.menu-sidebar span.level1 > span,
.menu-sidebar .level2 a,
#system small,
#system blockquote,
table.zebra caption,
form.style input,
form.style textarea,
form.style select,
.comments-list .meta,
.zoo-item-list p.meta,
.zoo-comments-list
.meta{color:#4191AA}mark,
ins,
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown .dropdown-bg > div,
a.button-more:hover,
form.style input:focus,
form.style textarea:focus,
form.style select:focus,
form.style button:hover,
form.style input[type="button"]:hover,
.mobile-switcher,
#system .pagination a:hover,
#system .pagination strong,
#system .item > .links a:hover,
#system span.highlight,
#m-navigation ul li,
#m-navigation ul
li.parent{background-color:#73A7B8}mark,
ins,
h1.title,
h2,
.menu-dropdown li.level1:hover .level1,
.menu-dropdown li.remain .level1,
.menu-dropdown a.level2:hover,
.menu-dropdown a.current.level3,
.menu-dropdown .level1:hover .level1 span.subtitle,
.menu-dropdown li.remain .level1 span.subtitle,
.menu-dropdown .level2 .level2 span.subtitle,
.menu-sidebar a.level1.active > span,
.menu-sidebar span.level1.active > span,
.module .menu-sidebar .level2 a.current,
.module-title span.subtitle,
.mod-dark .module-title,
a.button-more,
a.button-more:hover,
em.box,
form.style button:hover,
form.style input[type="button"]:hover,
form.style input:focus,
form.style textarea:focus,
form.style select:focus,
.system-dark #system .title a,
#system .item header time,
#system .pagination a:hover,
#system .pagination strong,
#system .item > .links a:hover,
.demo-bubble
h3{color:#FFF;text-shadow:0 1px 0 rgba(0,0,0,0.1)}.dark-text{color:#0E4658}#footer{color:#6DA8B4}#m-menu, #m-login, #m-search,
#page div.m-content{background:#73A7B8}body#page{background-color:#B7E0E5;background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/page.png");color:#377A93;text-shadow:0 1px 0 rgba(255,255,255,0.2)}#page-bg{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/page_gradient.png")}#toolbar,
#footer,
#system .items .item,
#system .items .leading .item,
#system .item-list,.wk-slideset-radiance,.wk-slideset-radiance>div{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/line.png");background-repeat:repeat-x}#totop-scroller{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/totop_scroller.png")}.menu-dropdown li.level1.parent
.level1{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_dropdown_level1_parent.png")}.menu-dropdown .level1 .level1
span.subtitle{color:#72A7B7}.menu-dropdown .dropdown-bg>div{box-shadow:0 8px 6px -6px rgba(0,0,0,0.4)}.menu-dropdown
li.level2{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_dropdown_level2.png")}.menu-dropdown
a.level3{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_dropdown_level3.png")}.menu-sidebar a.level1:hover,
.menu-sidebar span.level1:hover,
.menu-sidebar a.level1.active,
.menu-sidebar
span.level1.active{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_sidebar_level1.png")}.menu-sidebar li.parent .level1>span{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_sidebar_parent.png")}.menu-sidebar .level2
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/menu_sidebar_level2.png")}.module .module-title
.icon{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/module_icons.png")}.mod-dark,
.system-dark
#content{border:1px
solid rgba(255,255,255,0.2);background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/module_dark.png");background-clip:padding-box;color:#426F84}.mod-light,
.system-light
#content{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/module_light.png");box-shadow:0 8px 4px -4px rgba(11,62,73,0.15)}.mod-light > div,
.system-light #content>div{border:1px
solid rgba(240,255,254,0.4);border-top-color:rgba(240,255,254,0.7);background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/module_light_t.png");color:#3A809A}a.button-more,
form.style button,
form.style input.button,
#system .item > .links
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/button_more.png")}ul.line > li,
.comments-list > article,
.wk-twitter-list article,ul.zoo-list>li,.zoo-comments-list>article{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/list_line.png")}ul.line-icon>li,ul.line-icon>li:first-child{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/list_line_icon.png")}ul.check>li{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/list_check.png")}ul.zebra > li.odd,
form.style input,
form.style textarea,
form.style
select{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/list_zebra.png")}ul.zebra>li:nth-of-type(odd){background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/list_zebra.png")}table.zebra tbody td,
table.zebra tbody tr:first-child
td{border-color:rgba(255,255,255,0.3)}table.zebra tbody
tr.odd{background-color:rgba(255,255,255,0.1)}table.zebra tbody tr:nth-of-type(odd){background-color:rgba(255,255,255,0.1)}em.box{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/em_box.png")}hr.dotted{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/line_dotted.png")}dl.separator dd,
dl.separator dt:before,
dl.separator dt:after{border-color:rgba(255,255,255,0.3)}dl.separator dt:after{background:#73a7b8}pre,
.box-content,
.box-note,
.box-info,
.box-warning,
.box-hint,
.box-download,
#system #comments .comment-head{background-color:rgba(255,255,255,0.3);border:1px
solid rgba(255,255,255,0.4);box-shadow:0 1px 0 rgba(0,0,0,0.03)}.box-info{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/box_info.png")}.box-warning{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/box_warning.png")}.box-hint{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/box_hint.png")}.box-download{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/box_download.png")}form.box fieldset,
#system .author-box{border-color:rgba(255,255,255,0.3)}form.short input:-moz-placeholder{color:#377A93}.social-icons li
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/tools/icons_social.png")}#system .item > header
time{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/system_time.png")}#system .pagination
a{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/pagination.png")}.searchbox{border:1px
solid rgba(72,152,185,0.2);background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/searchbox.png");background-clip:padding-box}.searchbox:hover{border-color:rgba(72,152,185,0.3)}.searchbox.filled
button{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/searchbox_reset.png")}.searchbox.loading
button{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/searchbox_loader.gif")}.searchbox
input{color:#1D6885}.searchbox input:-moz-placeholder{color:#377A93}.searchbox input::-webkit-input-placeholder{color:#377A93}.searchbox
input.placeholder{color:#377A93}.searchbox
.results{background:#73A7B8;box-shadow:0 8px 6px -6px rgba(0,0,0,0.4);color:#D7F8FF;text-shadow:0 1px 0 rgba(0,0,0,0.1)}.searchbox .results
li.result.selected{background-color:#7eb0c0;color:#FFF}.wk-slideshow-radiance>div{background:rgba(0,0,0,0.9)}.wk-slideset-radiance > div .next,
.wk-slideset-radiance > div
.prev{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/widgetkit/buttons.png")}.wk-slideshow-radiance .nav span,
.wk-slideset-radiance .nav.icon
span{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/widgetkit/nav.png")}#lightbox-outer,#lightbox-content{border-color:#1D6785}#lightbox-outer,#lightbox-title.lightbox-title-inside{background:#1D6785}.wk-twitter-bubbles .content,
.wk-twitter
.image{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/widgetkit/bubble.png")}.wk-twitter-bubbles .content:after{background-image:url("/TestJoomla/templates/yoo_radiance/styles/iceblue/images/widgetkit/arrow.png")}
@media
print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important}a,a:visited{text-decoration:underline}pre,blockquote{border:1px
solid #999;page-break-inside:avoid}thead{display:table-header-group}tr,img{page-break-inside:avoid}img{max-width:100% !important}@page{margin:0.5cm}p,h2,h3{orphans:3;widows:3}h2,h3{page-break-after:avoid}}
@font-face{font-family:'DroidSansRegular';src:url("/TestJoomla/templates/yoo_radiance/fonts/DroidSans-webfont.eot?#iefix") format('embedded-opentype'),
url("/TestJoomla/templates/yoo_radiance/fonts/DroidSans-webfont.woff") format('woff'),
url("/TestJoomla/templates/yoo_radiance/fonts/DroidSans-webfont.ttf") format('truetype'),
url("/TestJoomla/templates/yoo_radiance/fonts/DroidSans-webfont.svg#webfont6rGBoMAO") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'FugazOneRegular';src:url("/TestJoomla/templates/yoo_radiance/fonts/fugazone-regular-webfont.eot");src:url("/TestJoomla/templates/yoo_radiance/fonts/fugazone-regular-webfont.eot?#iefix") format('embedded-opentype'),
url("/TestJoomla/templates/yoo_radiance/fonts/fugazone-regular-webfont.woff") format('woff'),
url("/TestJoomla/templates/yoo_radiance/fonts/fugazone-regular-webfont.ttf") format('truetype'),
url("/TestJoomla/templates/yoo_radiance/fonts/fugazone-regular-webfont.svg#FugazOneRegular") format('svg');font-weight:normal;font-style:normal}